# IDE
/.idea/
/.vscode/

# COMPOSER
/vendor/

# PROJECT
/cover/
/logs/*
/ressources/client.json
/migration-config.json
!.empty
/src/private.php
/.phpunit.result.cache
/publish.zip
/trace.log
/php_errors.log
